*{
    margin: 0px;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 50px;
    border: 2px solid black;
    background-color: rgb(65, 64, 64);
    position: fixed;
}
#logo{
    font-size: 28px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}
#logo:hover{
    font-size:30px;
    color: chocolate;
}
ul{
    display: flex;
    gap: 100px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    border: 2px solid rgb(8, 8, 15);
    border-radius: 12%;
    padding: 5px;
    transition: all 0.5s ease;
}
li a:hover{
    font-size: 26px;
    color: rgb(67, 67, 199);
    border: 3px solid rgb(8, 8, 15);
    border-radius: 12%;
    box-shadow: 0px 0px 10px rgb(136, 166, 241) 
}
/* hero section part */
.hero{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("/Food Recipe teller/Images/foodImage.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
}
#text{
    position: relative;
    bottom: 110px;
    color: bisque;
}
#text:hover{
    font-size:48px ;
    color: black;
    filter: drop-shadow(0px 0px 10px red );
}
.recipe{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    bottom: 40px;
}
input{
    width: 70%;
    /* height: 5vh; */
    border: 2px solid rgb(33, 32, 32);
    border-radius: 20px;
    padding: 20px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
input:hover{
    width: 72%;
    border: 4px solid rgb(18, 16, 16);
    box-shadow: 0px 0px 20px rgb(158, 158, 247);
}
#btn{
    width: 30%;
    /* height: 5vh; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    color: rgb(46, 125, 178);
    font-size: 20px;
    background-color: rgb(134, 21, 43);
    font-weight: 500;
    transition: all 0.5s ease;
}
#btn:hover{
    border: 3px solid rgb(0, 0, 0);
    width: 32%;
    box-shadow: 0px 0px 25px rgb(223, 193, 193);
}
/* about section */
.about-section{
    background:linear-gradient(rgb(109, 108, 108),rgb(165, 207, 213));
    padding: 60px 80px;
    text-align: center;
}
.about-section h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(19, 19, 20);
}
.about-section h2:hover{
    font-size: 34px;
    color: rgb(67, 43, 27);
}
.about-section p{
    margin: 10px auto;
    font-size: 26px;
    max-width: 800px;
    line-height: 1.6;
}
.pasta img{
    height:300px ;
    width: 400px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.panner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.panner img{
    height:300px ;
    width: 400px;
    object-fit: cover;
    
    border-radius: 20px;
}
/* contact form  */
.contact-container{
    border: 2px solid black;
    width: 800px;
    text-align: center;
    margin-left: 28%;
    transition: all 0.3s ease;
}
.contact-container:hover{
    border: 4px solid black;
    box-shadow: 0px 0px 10px whitesmoke;
    width: 820px;
}
.contact-section{
    padding: 70px 80px;
    background: linear-gradient(rgb(138, 134, 134),rgb(178, 208, 233));
    text-align: center;
}
.contact-section h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
}
.contact-section h2:hover{
    font-size: 32px;
    font-weight: bold;
    color: rgb(98, 43, 4);
}
.contact-container #name{
    width: 30%;
    margin-bottom: 15px;
    text-align: center;
}
.contact-container #phone{
    width: 30%;
    margin-bottom: 15px;
    text-align: center;
}
.contact-container #message{
    width: 30%;
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid rgb(33, 32, 32);
    border-radius: 20px;
    padding: 20px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.contact-container #message:hover{
    border: 4px solid rgb(18, 16, 16);
    box-shadow: 0px 0px 20px rgb(158, 158, 247);
}
.contact-container #btn{
    width: 20%;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    color: rgb(27, 33, 36);
    background-color: rgb(95, 108, 248);
    font-weight: 500;
    transition: all 0.5s ease;
}
.contact-container #btn:hover{
    border: 3px solid rgb(0, 0, 0);
    width: 21%;
    box-shadow: 0px 0px 25px rgb(2, 18, 79);
}
/* footer section */
.footer-section{
    background:linear-gradient(rgb(173, 172, 172) ,rgb(82, 76, 76));
    text-align: center;
    padding: 50px 60px;
}
.footer-section p{
    font-size: 20px;
    line-height: 1.5;
}
.footer-section p a{
    text-decoration: none;
    font-weight: bold;
    color: powderblue;
}
